<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >addOffence</title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<!--Heading Area-->
<div class="container-fluid  " >
  <div class="row text-center " >
    <!--View list Button-->
    <div class="col" >
      <a class="btn btn-primary" href="/performanceEvaluation" >
        <i class="fa fa-list" style="font-size: 20px" ></i >&nbsp;&nbsp;View List
      </a >
    </div >
    <!--Form Name-->
    <div class="col" >
      <h2 class="text-light text-center" >
        <strong >
          <span data-th-text="${addStatus==true?'Add New Offence':'Update Offence Details'}" ></span >
        </strong >
      </h2 >
    </div >
    <!--Home Button-->
    <div class="col" >
      <a class="btn btn-primary" href="/home" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp;&nbsp;Home
      </a >
    </div >
  </div >
</div >
<!--Form Content-->
<div class="container-fluid " >
  <div id="accordianId" role="tablist" aria-multiselectable="true" >
    <div class="card" >
      <div class="card-header" role="tab" id="section1HeaderId" >
        <h5 class="mb-0" >
          <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true"
             aria-controls="section1ContentId" >
            Employee Details
          </a >
        </h5 >
      </div >
      <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
        <div class="card-body" >
          <div data-th-replace="~{employee/employee-details :: totalEmployeeDetailsFragment}" ></div >
        </div >
      </div >
    </div >
  </div >
  <div class="col-sm-12 flex-column " >
    <form class="form-horizontal"
          data-th-action="${addStatus==true?'/performanceEvaluation/save':'/performanceEvaluation/update'}"
          data-th-object="${performanceEvaluation}" method="POST" >
      <div class="row" >
        <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
          <!--Id-->
          <input data-th-field="*{id}" data-th-if="${addStatus==false}" hidden type="text" />
          <!--employee id-->
          <input data-th-name="${'employee.id'}" data-th-if="${addStatus==false}" data-th-value="${employeeDetail.id}"
                 hidden type="text" />

          <!--Remarks -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" data-th-for="${'remark'}" >Name :</label >
            </div >
            <div class="col-md-4" >
              <textarea class="form-control" data-th-field="*{remark}" required tabindex="4" ></textarea >
              <span class="error"
                    data-th-errors="*{remark}" data-th-if="${#fields.hasErrors('remark')}" >Error Name</span >
            </div >
          </div >
            <!--Sinhala and Tamil language translation -->
            <div class="form-row text-right" >
                <div class="col-md-4" >
                    <!--Sinhala modal button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" ><i
                          class="fas fa-language" ></i > &nbsp;Singlish to Sinhala
                    </button >

                </div >
                <div class="col-md-4" >
                    <!-- modal tamil button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-xl" ><i
                          class="fas fa-language" ></i > &nbsp;Tamilish to Tamil
                    </button >
                </div >
            </div >

          <!--Button-->
          <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
            <button class="btn btn-primary" type="button" >
              <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
            </button >
            <button class="btn btn-success ml-5" tabindex="21" type="submit" >
              <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;<span
                  data-th-text="${addStatus==true?'Save': 'Update'}"
                  id="submit" ></span >
            </button >
            <button class="btn btn-warning ml-5" tabindex="21" type="reset" >
              <i class="far fa-times-circle" style="font-size: 20px" ></i >&nbsp;&nbsp;Cancel
            </button >
          </div >
          <!--Error-->
          <div class="form-row" >
            <label data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '"
                   id="errorLabel" >Errors: </label >
            <ul >
              <li class="error" data-th-each="err: ${#fields.errors('*')}" data-th-text="${err}"
                  id="error" ></li >
            </ul >
          </div >
        </div >
      </div >
    </form >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<div data-th-replace="~{fragments/unicodeSinhala :: unicodeSinhalaFragment}" ></div >
<div data-th-replace="~{fragments/unicodeTamil :: unicodeTamilFragment}" ></div >

</body >
</html >
