<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Department Of Prisons </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container " >
  <div class="row text-center " >
    <div class="col" >
      <a class="btn btn-outline-info" href="/home" >
        Back To Home
      </a >
    </div >

    <div class="col" >
      <a href="/employee" class="btn btn-info" >
        View Employees
      </a >
    </div >
  </div >
  <div class="row text-center" >
    <div class="col" >
      <h4 class="text-info text-center" >
        <strong >
          <h4 data-th-text="${addStatus==true?'New Qualification':'Update Qualification'}" ></h4 >
        </strong >
      </h4 >
    </div >
  </div >
</div >
<!--Form Content - start -->
<div class="container-fluid " >
  <div id="accordianId" role="tablist" aria-multiselectable="true" >
    <div class="card" >
      <div class="card-header" role="tab" id="section1HeaderId" >
        <h5 class="mb-0" >
          <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true"
             aria-controls="section1ContentId" >
            Employee Details
          </a >
        </h5 >
      </div >
      <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
        <div class="card-body" >
          <div data-th-replace="~{employee/employee-detail :: employeeDetailsFragment}" ></div >
        </div >
      </div >
    </div >
  </div >
  <div class="col-sm-12 flex-column " >
    <form data-th-action="${addStatus==true?'/qualification/save' :'/qualification/update'}" method="post"
          data-th-object="${qualification}"
          class="mt-3" >

      <input data-th-name="${'employee.id'}" data-th-value="${employeeDetail.id}" class="form-control" type="hidden"
             readonly />
      <!--Id-->
      <div id="form" >
        <div id="idStatus" data-th-if="${addStatus==false}" class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="id" >ID :</label >
          </div >
          <div class="col-md-8" >
            <input id="id" data-th-field="*{id}" class="form-control" type="text" readonly />
          </div >
        </div >
        <!--Name-->
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <div class="required" >
              <label class="control-label" for="name" >Name of the qualification :</label >
            </div >
          </div >
          <div class="col-md-8" >
            <input id="name" data-th-field="*{name}" class="form-control" tabindex="4"
                   type="text" required />
            <span id="codeE" data-th-errors="*{name}"
                  data-th-if="${#fields.hasErrors('name')}" class="error" >Error Employee code
                            </span >
          </div >
        </div >
        <!--certificateNumber-->
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <div class="required" >
              <label class="control-label" for="certificateNumber" >Certificate Number :</label >
            </div >
          </div >
          <div class="col-md-8" >
            <input id="certificateNumber" data-th-field="*{certificateNumber}" class="form-control" tabindex="4"
                   type="text" />
            <span data-th-errors="*{certificateNumber}"
                  data-th-if="${#fields.hasErrors('certificateNumber')}" class="error" >Error Employee code
                            </span >
          </div >
        </div >
        <!--startDate-->
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <div class="required" >
              <label class="control-label" for="startDate" >Start Date :</label >
            </div >
          </div >
          <div class="col-md-8" >
            <input id="startDate" data-th-field="*{startDate}" class="form-control" tabindex="4"
                   type="date" required />
            <span data-th-errors="*{startDate}"
                  data-th-if="${#fields.hasErrors('startDate')}" class="error" >Error Employee code
                            </span >
          </div >
        </div >
        <!--endDate-->
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <div class="required" >
              <label class="control-label" for="endDate" >End Date :</label >
            </div >
          </div >
          <div class="col-md-8" >
            <input id="endDate" data-th-field="*{endDate}" class="form-control" tabindex="4"
                   type="date" required />
            <span data-th-errors="*{endDate}"
                  data-th-if="${#fields.hasErrors('endDate')}" class="error" >Error Employee code
                            </span >
          </div >
        </div >
        <!--remarks-->
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="remarks" >Remarks :</label >
          </div >
          <div class="col-md-8" >
          <textarea id="remarks" data-th-field="*{remarks}" class="form-control" tabindex="4"
          ></textarea >
            <span data-th-errors="*{remarks}"
                  data-th-if="${#fields.hasErrors('remarks')}" class="error" >Error Employee code
                            </span >
          </div >
        </div >
        <!--Sinhala modal button and modal tamil button-->
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <!--Sinhala modal button -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" ><i
                  class="fas fa-language" ></i > &nbsp;Singlish to Sinhala
            </button >

          </div >
          <div class="col-md-4" >
            <!-- modal tamil button -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-xl" ><i
                  class="fas fa-language" ></i > &nbsp;Tamilish to Tamil
            </button >
          </div >
        </div >

        <div class="form-group col-md-12 col-sm-12 text-left flex-column " >
          <!--Button-->
          <div class="form-group col-md-12 col-sm-12 text-left flex-column " >
            <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
              <button class="btn btn-success" type="submit" tabindex="21" >
                <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp; &nbsp;<span
                    data-th-text="${addStatus==true?'Save': 'Update'}" ></span >
              </button >
              <button class="btn btn-danger" type="reset" >
                <i class="fa fa-redo" ></i > <span id="reset" >Reset</span >
              </button >
            </div >
          </div >
          <div class="form-row" >
            <label id="errorLabel" data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '" >Errors: </label >
            <ul >
              <li id="error" data-th-each="err : ${#fields.errors('*')}" data-th-text="${err}" class="error" ></li >
            </ul >
          </div >
        </div >
      </div >
    </form >
    <span class="required_notification" >* Denotes Required Field</span >
  </div >

</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

<div data-th-replace="~{fragments/unicodeSinhala :: unicodeSinhalaFragment}" ></div >
<div data-th-replace="~{fragments/unicodeTamil :: unicodeTamilFragment}" ></div >
<script >
    $(document).ready(function () {
        $("#endDate, #startDate").prop('max', dateMakeWithoutTime(new Date()));
    });
    $("#startDate").change(function () {
        $("#endDate").prop('min', dateMakeWithoutTime($(this).val()));
    });
    function dateMakeWithoutTime(val) {
        let year = val.getFullYear();
        let month = val.getMonth();
        let date = val.getDate();
        let today;
        if (month < 10) {
            if (date < 10) {
                today = `${year}-0${month}-0${date}`;
            } else {
                today = `${year}-0${month}-${date}`;
            }
        } else {
            today = `${year}-${month}-${date}`;
        }

        return today;
    }

</script >

</body >
</html >
