<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >addOffence</title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<!--Heading Area-->
<div class="container-fluid  " >
  <div class="row text-center " >
    <!--View list Button-->
    <div class="col" >
      <a class="btn btn-primary" href="/performanceEvaluation" >
        <i class="fa fa-list" style="font-size: 20px" ></i >&nbsp;&nbsp;View List
      </a >
    </div >
    <!--Form Name-->
    <div class="col" >
      <h2 class="text-center" >
        <strong >
          <span data-th-text="${addStatus==true?'Add New Performance Evaluation Request':'Performance Evaluation Result Verification'}" ></span >
        </strong >
      </h2 >
    </div >
    <!--Home Button-->
    <div class="col" >
      <a class="btn btn-primary" href="/home" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp;&nbsp;Home
      </a >
    </div >
  </div >
</div >
<!--Form Content-->
<div class="container-fluid " >
  <div id="accordianId" role="tablist" aria-multiselectable="true" >
    <div class="card" >
      <div class="card-header text-center" role="tab" id="section1HeaderId" >
        <a data-toggle="collapse" class="container-fluid  h4" data-parent="#accordianId" href="#section1ContentId"
           aria-expanded="true"
           aria-controls="section1ContentId" >
          Employee Details
        </a >
      </div >
      <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
        <div class="card-body" >
          <div data-th-replace="~{employee/employee-detail :: totalEmployeeDetailsFragment}" ></div >
        </div >
      </div >
    </div >
  </div >
  <div class="col-sm-12 flex-column " >
    <form class="form-horizontal"
          data-th-action="${addStatus==true?'/performanceEvaluationResult/save':'/performanceEvaluationResult/update'}"
          data-th-object="${performanceEvaluationResult}" method="POST" >
      <div class="row" >
        <!--First part-->
        <div class="container-fluid" >
          <!--Id-->
          <input data-th-field="*{id}" data-th-if="${addStatus==false}" hidden type="text" />
          <!--employee id-->
          <input data-th-name="${'performanceEvaluation.employee.id'}" data-th-if="${addStatus==false}"
                 data-th-value="${employeeDetail.id}"
                 hidden type="text" />
          <div class="form-row text-right" >
            Agreed period of Appraisal (one calendar year) : From : <input id="startAt" type="date"
                                                                           class="form-control col-2"
                                                                           data-th-field="*{formDate}"
                                                                           onchange="dateMatch()" > to : <input
                onchange="dateMatch()" class="form-control col-2"
                id="endAt" type="date" data-th-field="*{toDate}" >
          </div >
          <!--Areas of Responsibility start-->
          <div class="container-fluid" >
            <p class="text-center h3" >Areas of Responsibility</p >
          </div >
          <!--task list -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" data-th-for="${'taskLists'}" >Whether you have received a task list : yes /No
                                                                         :</label >
            </div >
            <div class="col-md-4 text-center" >
              <div class="form-check" >
                <label class="form-check-label col-md-2" >
                  <input type="radio" class="form-check-input" data-th-field="*{taskLists}" value="Y" >
                  Yes
                </label >
                <label class="form-check-label col-md-2" >
                  <input type="radio" class="form-check-input" data-th-field="*{taskLists}" value="N" >
                  No
                </label >
              </div >
              <span class="error"
                    data-th-errors="*{taskLists}"
                    data-th-if="${#fields.hasErrors('taskLists')}" >Error Name</span >
            </div >
          </div >
          <!--responsibilities -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" data-th-for="${'taskLists'}" >Main Areas of Responsibility and Tasks
                                                                         :</label >
            </div >
            <div class="col-md-8" >
              <div class="form-row text-center" >
                <label class="control-label" >
                  Responsibility
                  <textarea class="form-control" data-th-field="*{responsibility}" ></textarea >
                  <!--Sinhala modal button -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" >
                    <i
                          class="fas fa-language" ></i > &nbsp;Singlish to Sinhala
                  </button >
                  <span class="error"
                        data-th-errors="*{responsibility}"
                        data-th-if="${#fields.hasErrors('responsibility')}" >Error Name</span >
                </label >
                <label class="control-label" >
                  Tasks
                  <textarea class="form-control" data-th-field="*{tasks}" ></textarea ><!-- modal tamil button -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-xl" >
                    <i
                          class="fas fa-language" ></i > &nbsp;Tamilish to Tamil
                  </button >
                </label >
                <span class="error"
                      data-th-errors="*{tasks}"
                      data-th-if="${#fields.hasErrors('tasks')}" >Error Name</span >
              </div >
            </div >
          </div >
          <!--Areas of Responsibility end-->

          <!--Mid Term Appraisal start-->
          <div class="container-fluid" >
            <p class="text-center h3" >Mid Term Appraisal</p >
          </div >
          <!--satisfied -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" data-th-for="${'taskLists'}" >Are you satisfied about your performance :yes
                                                                         /no</label >
            </div >
            <div class="col-md-4 text-center" >
              <div class="form-check" >
                <label class="form-check-label col-md-2" >
                  <input type="radio" class="form-check-input" data-th-field="*{satisfied}" value="Y" >
                  Yes
                </label >
                <label class="form-check-label col-md-2" >
                  <input type="radio" class="form-check-input" data-th-field="*{satisfied}" value="N" >
                  No
                </label >
              </div >
              <span class="error"
                    data-th-errors="*{taskLists}"
                    data-th-if="${#fields.hasErrors('satisfied')}" >Error Name</span >
            </div >
          </div >
          <!--responsibilities -->
          <div class="form-row text-right" >
            <div class="col-md-8" >
              <div class="form-row text-center" >
                <label class="control-label" >
                  Any difficulties faced:
                  <textarea class="form-control" data-th-field="*{difficulties}" ></textarea >
                  <!--Sinhala modal button -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" >
                    <i
                          class="fas fa-language" ></i > &nbsp;Singlish to Sinhala
                  </button >
                  <span class="error"
                        data-th-errors="*{difficulties}"
                        data-th-if="${#fields.hasErrors('difficulties')}" >Error Name</span >
                </label >
                <label class="control-label" >
                  Strategies for improvement (if Appraisee is lagging behind):
                  <textarea class="form-control" data-th-field="*{improvement}" ></textarea ><!-- modal tamil button -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-xl" >
                    <i
                          class="fas fa-language" ></i > &nbsp;Tamilish to Tamil
                  </button >
                </label >
                <span class="error"
                      data-th-errors="*{improvement}"
                      data-th-if="${#fields.hasErrors('improvement')}" >Error Name</span >
              </div >
            </div >
          </div >
          <!--Mid Term Appraisal end-->


          <!--Public Relations start-->
          <div class="container-fluid" >
            <p class="text-center h3" >Public Relations</p >
          </div >
          <!--task list -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" data-th-for="${'taskLists'}" >Whether your directly work with general public
                                                                         or other institutes or officers of other
                                                                         sections </label >
            </div >
            <div class="col-md-4 text-center" >
              <div class="form-check" >
                <label class="form-check-label col-md-2" >
                  <input type="radio" class="form-check-input" data-th-field="*{publicInstitutesOfficers}" value="Y" >
                  Yes
                </label >
                <label class="form-check-label col-md-2" >
                  <input type="radio" class="form-check-input" data-th-field="*{publicInstitutesOfficers}" value="N" >
                  No
                </label >
              </div >
              <span class="error"
                    data-th-errors="*{publicInstitutesOfficers}"
                    data-th-if="${#fields.hasErrors('publicInstitutesOfficers')}" >Error Name</span >
            </div >
          </div >
          <!--satisfiedGeneralPublic -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" data-th-for="${'satisfiedGeneralPublic'}" >Are you satisfied about your work
                                                                                      with the general public?
                                                                                      :</label >
            </div >
            <div class="col-md-8 text-center" >
              <div class="form-check" >
                <label class="form-check-label col-md-2" >
                  <input type="radio" class="form-check-input" data-th-field="*{satisfiedGeneralPublic}" value="Y" >
                  Yes
                </label >
                <label class="form-check-label col-md-2" >
                  <input type="radio" class="form-check-input" data-th-field="*{satisfiedGeneralPublic}" value="N" >
                  No
                </label >
              </div >
              <span class="error"
                    data-th-errors="*{publicInstitutesOfficers}"
                    data-th-if="${#fields.hasErrors('publicInstitutesOfficers')}" >Error Name</span >
            </div >
          </div >
          <!--unhappy -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" data-th-for="${'unhappy'}" >Are there any general public or
                                                                       other officers were unhappy
                                                                       ?:</label >
            </div >
            <div class="col-md-4 text-center" >
              <div class="form-check" >
                <label class="form-check-label col-md-2" >
                  <input type="radio" class="form-check-input" data-th-field="*{unhappy}" value="Y" >
                  Yes
                </label >
                <label class="form-check-label col-md-2" >
                  <input type="radio" class="form-check-input" data-th-field="*{unhappy}" value="N" >
                  No
                </label >
              </div >
              <span class="error"
                    data-th-errors="*{publicInstitutesOfficers}"
                    data-th-if="${#fields.hasErrors('publicInstitutesOfficers')}" >Error Name</span >
            </div >

          </div >
          <!--reasons -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" data-th-for="${'reasons'}" >if the answer for 4.3 is yes what are the reasons
                                                                       for it?</label >
            </div >
            <div class="col-md-4 text-center" >
              <textarea data-th-field="*{reasons}" class="form-control" ></textarea >
              <span class="error"
                    data-th-errors="*{reasons}"
                    data-th-if="${#fields.hasErrors('reasons')}" >Error Name</span >
              <!--Sinhala and Tamil language translation -->
              <div class="form-row text-right" >
                <div class="col-md-4" >
                  <!--Sinhala modal button -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" >
                    <i
                          class="fas fa-language" ></i > &nbsp;Singlish to Sinhala
                  </button >

                </div >
                <div class="col-md-4" >
                  <!-- modal tamil button -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-xl" >
                    <i
                          class="fas fa-language" ></i > &nbsp;Tamilish to Tamil
                  </button >
                </div >
              </div >
            </div >
          </div >
          <!--Public Relations end-->

          <!--Remarks -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" data-th-for="${'remark'}" >Remarks :</label >
            </div >
            <div class="col-md-4" >
              <textarea class="form-control" data-th-field="*{performanceEvaluation.remark}" required
                        tabindex="4" ></textarea >
              <span class="error"
                    data-th-errors="*{performanceEvaluation.remark}"
                    data-th-if="${#fields.hasErrors('performanceEvaluation.remark')}" >Error Name</span >
            </div >
          </div >
          <!--Sinhala and Tamil language translation -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <!--Sinhala modal button -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" ><i
                    class="fas fa-language" ></i > &nbsp;Singlish to Sinhala
              </button >

            </div >
            <div class="col-md-4" >
              <!-- modal tamil button -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-xl" ><i
                    class="fas fa-language" ></i > &nbsp;Tamilish to Tamil
              </button >
            </div >
          </div >
        </div >
        <!--second part-->
        <div class="container-fluid">
          <div class="container-fluid" >
            <p class="text-center h3" >II.Part filled  Appraiser   y</p >
            <p class="text-center h5" >Comment by appraiser on the Appraisee performance:</p >
          </div >
          <!--attitude-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="attitude" >Attitude :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'attitude'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'attitude'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'attitude'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--knowledge-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="knowledge" >Knowledge :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'knowledge'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'knowledge'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'knowledge'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--ability-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="ability" >Ability :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'ability'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'ability'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'ability'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--adaptabilityFlexibility-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="adaptabilityFlexibility" >Adaptability Flexibility :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'adaptabilityFlexibility'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'adaptabilityFlexibility'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'adaptabilityFlexibility'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--innovation-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="innovation" >Innovation :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'innovation'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'innovation'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'innovation'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--creativity-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="creativity" >Creativity :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'creativity'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'creativity'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'creativity'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--skills-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="skills" >Skills :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'skills'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'skills'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'skills'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--subordinates-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="subordinates" >Subordinates :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'subordinates'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'subordinates'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'subordinates'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--subordinates-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="superiors" >Superiors :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'superiors'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'superiors'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'superiors'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--subordinates-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="colleagues" >Colleagues :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'colleagues'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'colleagues'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'colleagues'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--subordinates-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="publicBeneficiariesCustomersSuppliers" >Public Beneficiaries Customers Suppliers :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'publicBeneficiariesCustomersSuppliers'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'publicBeneficiariesCustomersSuppliers'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'publicBeneficiariesCustomersSuppliers'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--negotiationPersuasionSkills-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="negotiationPersuasionSkills" >Negotiation Persuasion Skills :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'negotiationPersuasionSkills'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'negotiationPersuasionSkills'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'negotiationPersuasionSkills'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--projectPlanningImplementationAndControl-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="projectPlanningImplementationAndControl" >Project Planning Implementation And Control :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'projectPlanningImplementationAndControl'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'projectPlanningImplementationAndControl'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'projectPlanningImplementationAndControl'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--decisionMakingProblemSolving-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="decisionMakingProblemSolving" >Decision Making Problem Solving :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'decisionMakingProblemSolving'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'decisionMakingProblemSolving'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'decisionMakingProblemSolving'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--creatingMaintainingStandards-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="creatingMaintainingStandards" >Creating Maintaining Standards :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'creatingMaintainingStandards'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'creatingMaintainingStandards'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'creatingMaintainingStandards'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--timeManagement-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="timeManagement" >Time Management :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'timeManagement'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'timeManagement'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'timeManagement'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--listening-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="listening" >Listening :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'listening'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'listening'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'listening'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--writtenCommunication-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="writtenCommunication" >Written Communication :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'writtenCommunication'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'writtenCommunication'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'writtenCommunication'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--verbalCommunication-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="verbalCommunication" >Verbal Communication :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'verbalCommunication'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'verbalCommunication'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'verbalCommunication'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--presentation-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="presentation" >Presentation :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'presentation'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'presentation'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'presentation'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--powerAndManagingGrievances-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="powerAndManagingGrievances" >Handling of Power and Managing Grievances :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'powerAndManagingGrievances'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'powerAndManagingGrievances'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'powerAndManagingGrievances'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--riskTaking-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="riskTaking" >Risk Taking</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'riskTaking'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'riskTaking'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'riskTaking'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--strategicPlanning-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="strategicPlanning" >Strategic Planning</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'strategicPlanning'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'strategicPlanning'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'strategicPlanning'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
          <!--delegating-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="delegating" >Delegating :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'delegating'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'delegating'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'delegating'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
        </div>
        <!--overallApprecial-->
        <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
          <!--delegating-->
          <div class="form-row " >
            <div class="col-md-4" >
              <label class="control-label" for="overallApprecial" >Overall Apprecial :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="apprecial: ${apprecials}" >
                <input class="custom-control-input gender" required
                       data-th-name="${'overallApprecial'}"
                       data-th-value="${apprecial}"
                       data-th-id="${'overallApprecial'}+${apprecial}" type="radio"
                       data-th-checked="${apprecials==apprecial}" />
                <label class="custom-control-label"
                       data-th-for="${'overallApprecial'}+${apprecial}"
                       data-th-text="${apprecial.apprecial}" > radio
                </label >
              </div >
            </div >
          </div >
        </div >

        <!--Button-->
        <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
          <button class="btn btn-primary" type="button" >
            <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
          </button >
          <button class="btn btn-success ml-5" tabindex="21" type="submit" >
            <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;<span
                data-th-text="${addStatus==true?'Save': 'Update'}"
                id="submit" ></span >
          </button >
          <button class="btn btn-warning ml-5" tabindex="21" type="reset" >
            <i class="far fa-times-circle" style="font-size: 20px" ></i >&nbsp;&nbsp;Cancel
          </button >
        </div >
        <!--Error-->
        <div class="form-row" >
          <label data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '"
                 id="errorLabel" >Errors: </label >
          <ul >
            <li class="error" data-th-each="err: ${#fields.errors('*')}" data-th-text="${err}"
                id="error" ></li >
          </ul >
        </div >
      </div >
    </form >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<div data-th-replace="~{fragments/unicodeSinhala :: unicodeSinhalaFragment}" ></div >
<div data-th-replace="~{fragments/unicodeTamil :: unicodeTamilFragment}" ></div >
<script >
    function dateMatch() {
        let startDateTime = $(`#startAt`).val();
        let endDateTime = $(`#endAt`).val();
        if (startDateTime !== "" && endDateTime !== "") {
            if (Date.parse(startDateTime) > Date.parse(endDateTime)) {
                swal({
                    title: "Could you accept those days.. !",
                    icon: "warning",
                    text: "Please check your date time \n End Date Time can not be less than Start Date Time",
                })
                $(`#endAt`).val(startDateTime);
            }
        }
    }

</script >
</body >
</html >
