<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>offence</title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--Heading Area-->
<div class="container-fluid  ">
    <div class="row text-center ">
        <!-- New Institute Button-->
        <div class="col">
            <a class="btn btn-success" href="/offence/add"><i class="fa fa-user-plus" style="font-size: 20px"></i>&nbsp;&nbsp;New</a>&nbsp;
        </div>
        <!-- List Name-->
        <div class="col">
            <h2  class="text-center">
                <strong>
                    Offence Management
                </strong>
            </h2>
        </div>
        <!-- Home Button-->
        <div class="col">
            <a href="/offence" id="searchShow" class="btn btn-primary">
            <!--<i class="fa fa-user " style="font-size: 20px"></i>-->
                <i class="fas fa-home" style="font-size: 20px"></i>&nbsp;&nbsp;Home
                &nbsp;
            </a>
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <!--Table view-->
    <div class="col">
        <div class="col" id="instituteListPresent" data-th-if="${not #lists.isEmpty(offences)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                    <tr>
                        <th> Index</th>
                        <th> Type</th>
                        <th> Description</th>
                        <th> Modify</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="offence, rowCount : ${offences}">
                        <th data-th-text="${rowCount.count}"></th>
                        <th data-th-text="${offence.offenceType.offenceType}"></th>
                        <th data-th-text="${offence.name}"></th>
                        <th>
                            <a  data-th-href="${'/offence/edit/' + offence.id}" class="btn btn-success btn-sm"><i class="fa fa-edit" style="font-size: 15px"></i>&nbsp;Edit</a>
                            <a  data-th-href="${'/offence/remove/' + offence.id}" class="btn btn-danger btn-sm">
                             <!-- data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"--> <i class="fa fa-trash" style="font-size: 15px"></i> Delete</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Error-->
    <div class="row" data-th-if="${ #lists.isEmpty(offences)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no offence upto now please add offence to the system using "New" button.</strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
 <div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>
