<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Department Of Prisons </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<!--Heading Area-->
<div class="container-fluid " >
  <div class="row text-center " >
    <!--View list Button-->
    <div class="col" >
      <a class="btn btn-primary" href="/performanceEvaluationRequest" >
        <i class="fa fa-list" style="font-size: 20px" ></i >&nbsp;&nbsp;View List
      </a >
    </div >
    <!--Form Name-->
    <div class="row text-left" >
      <div class="col" >
        <h2 class="text-center" >
          <strong >
            <span data-th-text="${addStatus==true?'Add New Performance Evaluation Request':'Performance Evaluation Result Verification'}" ></span >
          </strong >
        </h2 >
      </div >
      <!--Home Button-->
      <div class="col" >
        <a class="btn btn-primary" href="/home" >
          <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp;&nbsp;Home
        </a >
      </div >
    </div >
  </div >
</div >

<!--Form Content-->
<div class="container-fluid " >
  <div id="accordianId" role="tablist" aria-multiselectable="true" >
    <div class="card" >
      <div class="card-header text-center" role="tab" id="section1HeaderId" >
        <a data-toggle="collapse" class="container-fluid  h4" data-parent="#accordianId" href="#section1ContentId"
           aria-expanded="true"
           aria-controls="section1ContentId" >
          Employee Details
        </a >
      </div >
      <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
        <div class="card-body" >
          <div data-th-replace="~{employee/employee-detail :: totalEmployeeDetailsFragment}" ></div >
        </div >
      </div >
    </div >
  </div >
  <div class="col-sm-12 flex-column " >
    <form class="form-horizontal"
          data-th-action="${addStatus==true?'/performanceEvaluationRequest/save':'/performanceEvaluationRequest/update'}"
          data-th-object="${performanceEvaluationRequest}" method="POST" >
      <div class="row" >
        <!--First part-->
        <div id="form" >
          <div class="container-fluid" >
            <!--Id-->
            <input data-th-field="*{id}" data-th-if="${addStatus==false}" hidden type="text" />
            <!--employee id-->
            <input data-th-name="${'employee'}" data-th-if="${addStatus==true}"
                   data-th-value="${employeeDetail.id}"
                   hidden type="text" />
            <div class="form-row text-right" >
              Agreed period of Appraisal (one calendar year) : From : <input id="startAt" type="date"
                                                                             class="form-control col-2"
                                                                             data-th-field="*{formDate}"
                                                                             readonly> to : <input
                  readonly class="form-control col-2"
                  id="endAt" type="date" data-th-field="*{toDate}" >
            </div >
            <!--Areas of Responsibility start-->
            <div class="container-fluid" >
              <p class="text-center h3" >Areas of Responsibility</p >
            </div >
            <!--task list -->
            <div class="form-row text-right" >
              <div class="col-md-4" >
                <label class="control-label" data-th-for="${'taskLists'}" >Whether you have received a task list : yes
                                                                           /No
                                                                           :</label >
              </div >
              <div class="col-md-4 text-center" >
                <div class="form-check" >
                  <label class="form-check-label col-md-2" >
                    <input type="radio" class="form-check-input" data-th-field="*{taskLists}" value="Y" >
                    Yes
                  </label >
                  <label class="form-check-label col-md-2" >
                    <input type="radio" class="form-check-input" data-th-field="*{taskLists}" value="N" >
                    No
                  </label >
                </div >
                <span class="error"
                      data-th-errors="*{taskLists}"
                      data-th-if="${#fields.hasErrors('taskLists')}" >Error Name</span >
              </div >
            </div >
            <!--responsibilities -->
            <div class="form-row text-right" >
              <div class="col-md-4" >
                <label class="control-label" data-th-for="${'taskLists'}" >Main Areas of Responsibility and Tasks
                                                                           :</label >
              </div >
              <div class="col-md-8" >
                <div class="form-row text-center" >
                  <label class="control-label" >
                    Responsibility
                    <textarea class="form-control" data-th-field="*{responsibility}" ></textarea >
                    <!--Sinhala modal button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-xl" >
                      <i
                            class="fas fa-language" ></i > &nbsp;Singlish to Sinhala
                    </button >
                    <span class="error"
                          data-th-errors="*{responsibility}"
                          data-th-if="${#fields.hasErrors('responsibility')}" >Error Name</span >
                  </label >
                  <label class="control-label" >
                    Tasks
                    <textarea class="form-control" data-th-field="*{tasks}" ></textarea ><!-- modal tamil button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#bd-example-modal-xl" >
                      <i
                            class="fas fa-language" ></i > &nbsp;Tamilish to Tamil
                    </button >
                  </label >
                  <span class="error"
                        data-th-errors="*{tasks}"
                        data-th-if="${#fields.hasErrors('tasks')}" >Error Name</span >
                </div >
              </div >
            </div >
            <!--Areas of Responsibility end-->

            <!--Mid Term Appraisal start-->
            <div class="container-fluid" >
              <p class="text-center h3" >Mid Term Appraisal</p >
            </div >
            <!--satisfied -->
            <div class="form-row text-right" >
              <div class="col-md-4" >
                <label class="control-label" data-th-for="${'taskLists'}" >Are you satisfied about your performance
                                                                           :yes
                                                                           /no</label >
              </div >
              <div class="col-md-4 text-center" >
                <div class="form-check" >
                  <label class="form-check-label col-md-2" >
                    <input type="radio" class="form-check-input" data-th-field="*{satisfied}" value="Y" >
                    Yes
                  </label >
                  <label class="form-check-label col-md-2" >
                    <input type="radio" class="form-check-input" data-th-field="*{satisfied}" value="N" >
                    No
                  </label >
                </div >
                <span class="error"
                      data-th-errors="*{taskLists}"
                      data-th-if="${#fields.hasErrors('satisfied')}" >Error Name</span >
              </div >
            </div >
            <!--responsibilities -->
            <div class="form-row text-right" >
              <div class="col-md-8" >
                <div class="form-row text-center" >
                  <label class="control-label" >
                    Any difficulties faced:
                    <textarea class="form-control" data-th-field="*{difficulties}" ></textarea >
                    <!--Sinhala modal button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-xl" >
                      <i
                            class="fas fa-language" ></i > &nbsp;Singlish to Sinhala
                    </button >
                    <span class="error"
                          data-th-errors="*{difficulties}"
                          data-th-if="${#fields.hasErrors('difficulties')}" >Error Name</span >
                  </label >
                  <label class="control-label" >
                    Strategies for improvement (if Appraisee is lagging behind):
                    <textarea class="form-control" data-th-field="*{improvement}" ></textarea >
                    <!-- modal tamil button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#bd-example-modal-xl" >
                      <i
                            class="fas fa-language" ></i > &nbsp;Tamilish to Tamil
                    </button >
                  </label >
                  <span class="error"
                        data-th-errors="*{improvement}"
                        data-th-if="${#fields.hasErrors('improvement')}" >Error Name</span >
                </div >
              </div >
            </div >
            <!--Mid Term Appraisal end-->


          <!--Button-->
          <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
            <button class="btn btn-primary" type="button" >
              <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
            </button >
            <button class="btn btn-success ml-5" tabindex="21" type="submit" >
              <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;<span
                  data-th-text="${addStatus==true?'Save': 'Update'}"
                  id="submit" ></span >
            </button >
            <button class="btn btn-warning ml-5" tabindex="21" type="reset" >
              <i class="far fa-times-circle" style="font-size: 20px" ></i >&nbsp;&nbsp;Cancel
            </button >
          </div >
          <!--Error-->
          <div class="form-row" >
            <label data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '"
                   id="errorLabel" >Errors: </label >
            <ul >
              <li class="error" data-th-each="err: ${#fields.errors('*')}" data-th-text="${err}"
                  id="error" ></li >
            </ul >
          </div >
        </div >
      </div >
    </form >
  </div >
</div >

<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

<div data-th-replace="~{fragments/unicodeSinhala :: unicodeSinhalaFragment}" ></div >
<div data-th-replace="~{fragments/unicodeTamil :: unicodeTamilFragment}" ></div >

</body >
</html >
