<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>institute-detail</title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--heading Area-->
<div class="container-fluid  ">
    <div class="row text-center ">
        <!--View List Button-->
        <div class="col">
            <a href="/institute" class="btn btn-primary">
                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp;&nbsp;View List
            </a>
        </div>
        <!--Category Name-->
        <div class="col">
            <h2  class="text-center">
                <strong>
                    <span data-th-text="${instituteDetail.name}"></span>
                </strong>
            </h2>
        </div>
        <!--Home Button-->
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp;&nbsp;Home
            </a>
        </div>
    </div>
</div>
<!--details-->
<div  class="container-fluid  ">
    <div class="col-sm-12 flex-column " data-th-fragment="instituteDetailsFragment">
        <div class="row">
            <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                <!--id-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="id">ID :</label>
                    </div>
                    <div class="col-md-4">
                        <p id="id" data-th-text="${instituteDetail.id}" class="display_detail"></p>
                    </div>
                </div>
                <!--Prison Type-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="prisonType">Prison Type :</label>
                    </div>
                    <div class="col-md-4">
                        <p id="prisonType" data-th-text="${instituteDetail.prisonType.prisonType}"
                           class="display_detail"></p>
                    </div>
                </div>
                <!--Name-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" >Name :</label>
                    </div>
                    <div class="col-md-4">
                        <p data-th-text="${instituteDetail.name}"
                           class="display_detail"></p>
                    </div>
                </div>
                <!--Land-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" >Land :</label>
                    </div>
                    <div class="col-md-4">
                        <p data-th-text="${instituteDetail.land}"
                           class="display_detail"></p>
                    </div>
                </div>
                <!--Email-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" >Email :</label>
                    </div>
                    <div class="col-md-4">
                        <p data-th-text="${instituteDetail.email}"
                           class="display_detail"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Back Button-->
    <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
        <a href="/punishment">
            <button class="btn btn-dark" type="button" tabindex="10">
                <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp; &nbsp;Back
            </button>
        </a>
    </div>
    <br/>
</div>

<!--footer include-->
 <div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>
