<!DOCTYPE html>
<html lang="en" >
<head>
   <title></title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark " style="background-color:rgba(55,5,5,0.91);" data-th-fragment="navBarFragment">

   <img data-th-src="${'/img/avatar.png'}"alt="Nav bar logo" style="width:40px;height:50px;margin-right: 10px">
   <a class="navbar-brand" href="/home"><i class="fa fa-home" style="font-size: 18px"></i></a>


   <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
           aria-controls="collapsibleNavId"
           aria-expanded="false" aria-label="Toggle navigation"></button>
   <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
         <li class="nav-itemBatch dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"> <i class="fa fa-user"></i> General</a>

<!--             here the nav bar authorization for each role to the relevant modification-->

            <div class="dropdown-menu" aria-labelledby="dropdownId">
               <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_COMMISSIONER','ROLE_CHIEF_CLERK','CLERK')" data-th-href="@{'/employee'}" class="nav-link text-dark"> Employee Management </a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_COMMISSIONER')" data-th-href="@{'/user'}" class="nav-link text-dark"> User Management </a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_COMMISSIONER')" data-th-href="@{'/role'}" class="nav-link text-dark"> Role Management </a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/censure'}" class="nav-link text-dark"> Censure Management</a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/commendation'}" class="nav-link text-dark"> Commendation Management</a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/employeeInstitute'}" class="nav-link text-dark"> Employee Institute Management</a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/employeeLeave'}" class="nav-link text-dark"> Employee Leave Management</a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/qualification'}" class="nav-link text-dark"> Qualification Management</a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/institute'}" class="nav-link text-dark"> Institute Management</a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/offence'}" class="nav-link text-dark"> Offence Management</a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/punishment'}" class="nav-link text-dark"> Punishment Management</a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER','ROLE_USER')" data-th-href="@{'/performanceEvaluationRequest/add'}" class="nav-link text-dark"> Performance Evaluation Request</a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER','ROLE_USER')" data-th-href="@{'/performanceEvaluationApproval'}" class="nav-link text-dark"> Performance Evaluation Approve</a>

            </div>
         </li>

         <li class="nav-itemBatch dropdown active" data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER','ROLE_ADMIN')">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"> <i class="fa fa-bell"></i> Transaction</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
               <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_COMMISSIONER','ROLE_CHIEF_CLERK','CLERK')" data-th-href="@{'/employee/add'}" class="nav-link text-dark"> New Employee </a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_COMMISSIONER')" data-th-href="@{'/user/add'}" class="nav-link text-dark"> New User </a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_COMMISSIONER')" data-th-href="@{'/role/add'}" class="nav-link text-dark"> New Role </a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/employee/findAll'}" class="nav-link text-dark"> Employee Administration </a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER','ROLE_ADMIN')" data-th-href="@{'/institute/add'}" class="nav-link text-dark"> New Institute </a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/offence/add'}" class="nav-link text-dark"> New Offence </a>
               <a data-sec-authorize="hasAnyAuthority('ROLE_CLERK','ROLE_CHIEF_CLERK','ROLE_COMMISSIONER')" data-th-href="@{'/punishment/add'}" class="nav-link text-dark"> New Punishment </a>
            </div>
         </li>

         <li class="nav-itemBatch dropdown active" data-sec-authorize="hasAnyAuthority('ROLE_COMMISSIONER')">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"> <i class="fa fa-book-open"></i> Report</a>
            <div class="dropdown-menu text-dark" aria-labelledby="dropdownId">
               <a data-th-href="@{'/employee'}" class="nav-link text-dark">Employee Detail Report</a>
               <a data-th-href="@{'/report/instituteEmployee'}" class="nav-link text-dark"> Institute Headcount Report</a>
               <a data-th-href="@{'/report/employeeAllCount'}" class="nav-link text-dark">Employee And Action </a>
               <a data-th-href="@{'/report/offenceCount'}" class="nav-link text-dark">Offence And Record Count </a>
               <a data-th-href="@{'/report/instituteCensure'}" class="nav-link text-dark">Institute Vs Censure count</a>
               <a data-th-href="@{'/report/instituteCensureOne'}" class="nav-link text-dark">Institute wise Censure count</a>
               <a data-th-href="@{'/report/instituteCommendation'}" class="nav-link text-dark">Institute Vs Commendation Count count</a>

            </div>
         </li>
      </ul>
   </div>

   <!--login /logout /profile /password-change link according to sec confi-->
   <div>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
         <li class="nav-item dropdown" data-sec-authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-user-tie fa-lg"></i>&nbsp;&nbsp;
               <span data-th-text="${#authentication.name}"></span>
               <span class="caret"></span>
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown1">
               <a class="dropdown-item dropdown-item btn btn-group-sm" href="/profile">
                  <i class="fas fa-user-cog"></i> &nbsp;Profile
               </a>
               <a class="dropdown-item dropdown-item btn btn-group-sm" href="/passwordChange">
                  <i class="fas fa-key "></i>&nbsp;Change Password</a>
            </div>
         </li>
         <li class="nav-item dropdown " data-sec-authorize="isAuthenticated()">
            <a href="/logout" class="nav-link"> <i class="fas fa-sign-out-alt"></i>&nbsp;Log
                                                                                   out</a>
         </li>
         <li class="nav-item dropdown " data-sec-authorize="!isAuthenticated()">
            <a href="/login" class="nav-link"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login</a>
         </li>
      </ul>
   </div>

</nav>
</body>
</html>

