<!doctype html>
<html lang="en" >
<body >
<div data-th-fragment="scriptFragment" >

  <!-- jQuery library -->
  <script src="/webjars/jquery/3.4.1/jquery.js" ></script >

  <script src="/webjars/popper.js/1.15.0/popper.min.js" ></script >
  <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js" ></script >

  <script src="/webjars/font-awesome/5.11.2/js/all.min.js" ></script >

  <!--To modify the alert-->
  <script src="/js/sweetalert.js" ></script >
  <!-- data table -->
  <script src="/js/pagination.js" ></script >
  <!--custom javascript-->
  <script src="/js/myJs.js" ></script >

</div >
</body >
</html >




