<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link data-th-href="@{/css/403.css}" media="all" rel="stylesheet" type="text/css"/>

</head>
<body>

<a  href="/home" style="text-decoration: none">
<div class="scene">
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <span class="bg-403">403</span>
    <div class="text">
        <span class="hero-text"></span>
        <span class="msg">You are <span>Not</span> Allowed.</span>
        <span class="support">

    </span>
    </div>
    <div class="lock"></div>
</div>
</a>
</body>
</html>