body{
   background-image: url("../img/backmain2.jpg");!important;
    background-repeat: no-repeat;
    background-size: cover;

}

#form{

    position: relative;
    top: -50px;
    left: 65%;
    transform: translate(-65%,10%);
    padding: 20px;
    background: rgba(66,19,19,0.97)!important;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius:10px;

}