body{

	/*background-image: url(../img/login3.jpg);*/
	-webkit-background-size:cover;
	background-size: cover;
	background-position:center center;
	background-repeat: no-repeat;

}

.login-bg{
	background-image: url(../img/login3.jpg);

}
.form-area{

	float: left;
	width: 400px;
	height: 470px;
	margin-top:50px;
	margin-left:90px;
	position: relative;
	background-color: rgba(109, 39, 53, 0.47);
	text-align: center;
	padding:30px;
	margin-left:650px;
	-webkit-border-radius:70px 70px 70px 70px;
	-moz-border-radius:70px 70px 70px 70px;
	border-radius:70px 70px 70px 70px ;

}

.form-area{

	margin-bottom: 1px;
	color: white;

}

.img-area{

	width: 190px;
	height: 190px;
	border-radius:100%;
	position: absolute;
	margin-left: -40px;
	margin-bottom: 15px;
	top: -10%;
	left: 40%;
}

.img-area img{

	width: 60%;
	padding: 10px;

}

input{

	border: none;
	border-bottom: 1px solid white;
	outline: none;
	width: 100%;
	height:35px;
	margin-bottom: 15px;
	background-color: transparent;
	color: #fff;
	font-size: 16px;
	padding-left:5px;

}

.form-area p{
	text-align: left;
	color: #fff;
	font-weight: bold;
}

#btnLogin{

	display: inline-block;
	height: 40px;
	width: 300px;
	padding: 3px;
	line-height: 40px;
	overflow: hidden;
	position: relative;
	text-align: center;
	font-size: 16px;
	background-color: rgba(49, 2, 2, 0.92);
	border-radius: 250px;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
	margin-left: 15px;
	text-decoration: none;
	-webkit-transition:top 0.6s;
	-moz-transition:top 0.6s;
	-o-transition:top 0.6s;
}


#btnLogin:hover{
	background-color: sienna;

}

.for-pass{

	text-decoration: none;
	display: block;
	margin-top: 30px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}

