<!DOCTYPE html>
<html lang="en"  >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Department of Prison </title >
</head >
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid vh-100">
  <iframe src="http://www.prisons.gov.lk/" width="100%" height="100%" frameBorder="0"></iframe>
</div>

<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
